{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <!--<a href="{{ page.url }}">{{ page.title }}</a>-->
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
<!-- start ad -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gith -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1495570335685662"
     data-ad-slot="5282437237"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
   <!-- end ad -->